.tree-accordion {
  padding-left: 1.5rem; /* Adjust as needed */
}

.accordion-node {
  display: flex;
  justify-content: start;
  margin-bottom: 0.5rem;
}

.accordion-item {
  display: flex;
  flex-direction: column;
  align-items: start;
  /* justify-content: start; */
}

.accordion-title {
  cursor: pointer;
  color: #8a2be2;
  font-weight: 600;
  font-size: 1rem;
  border-bottom: 1px dotted #ccc;
  padding-bottom: 2px;
  display: inline-block;
  text-align: left;
}

.accordion-text {
  text-align: left;
  margin: 0.25rem 0;
}
