.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 650px;
}
.input_pair {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 1rem;
}
.input_pair label {
  width: 200px;
  text-align: right;
  margin-right: 10px;
}
.input_pair input,
.input_pair select,
.input_pair textarea {
  width: 150px;
}
.redStar {
  color: red;
  font-size: 1.2rem;
  margin-right: 3px;
}
